streamlit==1.29.0
streamlit-option-menu==0.3.6
plotly==5.16.1
fpdf==1.7.2
python-barcode==0.15.1
langchain
pymongo==4.3.2
pandas==2.0.0
numpy==1.23.3
opencv-python==4.8.0.76
pymongo==4.3.2
Pillow==9.1.1
python-dotenv==1.0.0
streamlit-qrcode-scanner==0.1.2
numpy==1.23.3
easyocr==1.7.1