streamlit==1.28.2
streamlit-option-menu==0.3.6
plotly==5.16.1
langchain
pymongo==4.3.2
pandas==2.0.0
numpy==1.23.3
# opencv-python==4.8.0.76
# pyzbar==0.1.9
pymongo==4.3.2
Pillow==9.1.1
python-dotenv==1.0.0
streamlit_qrcode_scanner
# invoke
# black